.container {
}
.main {
}
.footer {
}
.coin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 1;
}
.coin img {
  height: 50px;
}
.coin * {
  border: 2px solid red;
  flex-basis: auto;
}
